<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FPT Shop</title>
  <script src="https://kit.fontawesome.com/86aaaa56a8.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="asset/css/baseresponsive.css">
  <link rel="stylesheet" href="asset/css/base.css">
  <link rel="stylesheet" href="asset/css/header.css">
  <link rel="stylesheet" href="asset/css/index.css">
</head>
<body>
  <!-- header  -->
  <div class="header">
    <!-- top-nav  -->
    <div class="top-nav flex js-center">
      <div class="width flex">
        <!-- logo  -->
        <div class="col l-2">
          <div class="top-nav-logo">
            <a href="#"></a>
          </div>
        </div>
        <!--end logo  -->

        <!-- search form  -->
        <div class="col l-5 flex ali-center">
          <div class="top-nav-search flex">
            <input type="text" name="search" >
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
          </div>
        </div>
        <!-- end search form  -->

        <!-- link -->
        <div class="col l-5">
          <div class="top-nav-link-wrap flex js-evenly ali-center">
            <div class="hover-dropdown">
              <a class="top-nav-link" href="#">
                <p><i class="fa-solid fa-file-lines"></i></p>
                <p>Thông tin hay</p>
              </a>
              <ul class="dropdown-content">
                <li><a href="#">Tin mới</a></li>
                <li><a href="#">Tin mới</a></li>
                <li><a href="#">Tin mới</a></li>
              </ul>
            </div>
            <div class="">
              <a class="top-nav-link" href="#">
                <p><i class="fa-solid fa-file-invoice-dollar"></i></p>
                <p>Thanh toán & tiện ích</p>
              </a>
            </div>
            <div class="">
              <a class="top-nav-link" href="#">
                <p><i class="fa-solid fa-circle-user"></i></p>
                <p>Tài khoản của tôi</p>
              </a>
            </div>
            <div class="">
              <a class="top-nav-link" href="#">
                <p><i class="fa-solid fa-cart-shopping"></i></p>
                <p>Giỏ hàng</p>
              </a>
            </div>
          </div>
        </div>
        <!-- end link -->

      </div>
    </div>
    <!-- end top-nav  -->

    <!-- main nav  -->
    <div class="main-nav flex js-center">
      <div class="width flex js-between ali-center">
        <div class="hover-dropdown main-nav-link-wrap">
            <a href="#" class="main-nav-link h-100"><i class="fa-solid fa-mobile"></i> Điện thoại</a>
            <div class="dropdown-content">
              <h1>Mot cai gi do</h1>
            </div>
        </div>
        <div class="hover-dropdown main-nav-link-wrap">
            <a href="#" class="main-nav-link h-100"><i class="fa-solid fa-laptop"></i> Lap top</a>
            <div class="dropdown-content">
              <h1>Mot cai gi do</h1>
            </div>
        </div>
        <div class="hover-dropdown main-nav-link-wrap">
            <a href="#" class="main-nav-link h-100"><i class="fa-solid fa-mobile"></i> Máy tính bảng</a>
            <div class="dropdown-content">
              <h1>Mot cai gi do</h1>
            </div>
        </div>
        <div class="hover-dropdown main-nav-link-wrap">
            <a href="#" class="main-nav-link h-100"><i class="fa-brands fa-apple"></i> Apple</a>
            <div class="dropdown-content">
              <h1>Mot cai gi do</h1>
            </div>
        </div>
        <div class="hover-dropdown main-nav-link-wrap">
            <a href="#" class="main-nav-link h-100"><i class="fa-solid fa-desktop"></i> Pc - linh kiện</a>
            <div class="dropdown-content">
              <h1>Mot cai gi do</h1>
            </div>
        </div>
        <div class="hover-dropdown main-nav-link-wrap">
            <a href="#" class="main-nav-link h-100"><i class="fa-solid fa-rotate-right"></i> Máy cũ giá rẻ</a>
            <div class="dropdown-content">
              <h1>Mot cai gi do</h1>
            </div>
        </div>
        <div class="hover-dropdown main-nav-link-wrap">
            <a href="#" class="main-nav-link h-100"><i class="fa-solid fa-house-flag"></i> Hàng gia dụng</a>
            <div class="dropdown-content">
              <h1>Mot cai gi do</h1>
            </div>
        </div>
        <div class="hover-dropdown main-nav-link-wrap">
            <a href="#" class="main-nav-link h-100"><i class="fa-solid fa-sim-card"></i> Sim thẻ</a>
            <div class="dropdown-content">
              <h1>Mot cai gi do</h1>
            </div>
        </div>
        <div class="hover-dropdown main-nav-link-wrap">
            <a href="#" class="main-nav-link h-100"><i class="fa-solid fa-shield-virus"></i> Khuyến mãi</a>
            <div class="dropdown-content">
              <h1>Mot cai gi do</h1>
            </div>
        </div>
      </div>
    </div>
    <!-- end main nav  -->

  </div>
  <!-- end header  -->

  <!-- main  -->
  <div class="main flex js-center">
    <div class="width">
      <div class="breadcrumb">
        <ul>
          <li><a href="#">Trang Chủ</a></li>
          <li class="active"><a href="#">Laptop</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- end main  -->

</body>
</html>