@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  font-size: 10px;

  /* variable */
  /* color  */
  --red: #cd1818;
  --black: #000;
  --black-700: #333;
  --white: #fff;
  --gray: #4d4d4d;
  --gray-2: #6c757d;
  --gray-3: #c2c2c2;
  --product-name-hover: #0168fa;
  --btn-end-bg: #ef8573;
  
  /* image background:  */
  /* --logo: url('../img/iconhd.png'); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem; 
  background-color: #f8f9fa;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.hover-dropdown {
  position: relative;
  transition: 0.4s all ease;
  transition-delay: 0.2s;
}

.hover-dropdown:hover .dropdown-content {
 display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 2;
}

.dropdown-content.ddtype-list {
  padding: 8px 0;
  top: 56px;
  left: 0;
}

.dropdown-content.ddtype-list a {
  display: block;
  color: var(--gray-2);
  padding: 8px 10px;
  min-width: 200px;
}

.dropdown-content.ddtype-list a:hover{
  color: var(--black);
}
