.slider {
  position: relative;
}

.slider-img {
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
}

.slider-img img {
  height: 300px;
}

.slider-pre,
.slider-next {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: var(--gray-2);
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.6rem;
  border-radius: 50%;
  background-color: #d2d2d2;
}

.slider-pre {
  right: unset;
  left: 20px;
}
.slider-pre i {
  transform: rotate(180deg);
}

.slider-pre:hover,
.slider-next:hover {
  cursor: pointer;
  background-color: #fff;
}

.slider-nav {
  padding: 3px;
}
.slider-nav-item {
  max-width: 40px;
  width: 6%;
  margin: 0 5px;
  border: 2px solid var(--gray-2);
  border-radius: 2px ;
}

.slider-nav-item.active {
  border-color: var(--red);
}